* {
    box-sizing: border-box;
    font-family: Segoe UI;
}

body,
html {
    margin: 0;
    padding: 0;
}

.column {
    float: left;
}

.left {
    width: 80%;
}

.right {
    width: 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#web_title{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}

#key_user_container{
    float: right;
    margin-right: 70px;
    margin-bottom: 5px;
}

#key_user_container span{
    font-size: 20px;
    font-weight: bold;
}

#username_container{
    margin-right: 10px;
}

#userName{
    padding: 5px;
    border: 2px solid black;
    font-size: 16px;
}

#userName.hidden{
    display: none;
}

#edit_user{
    background-color: dodgerblue;
    border: none;
    color: white;
    font-size: 12px;
    height: 25px;
    width: 25px;
}

#edit_user.hidden{
    display: none;
}
#user_label.hidden{
    margin-right: 10px;
}

#user_label.hidden{
    display: none;
}


/* Video display */

/* Container */
#videos {
    height: 75vh;
    width: 95%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: #C2DFE3;
    border-radius: 40px;
    margin-left: 50px;
    padding: 10px;
}

/* Camera */
video{
    position: relative;
    vertical-align: middle;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    box-shadow: 0px 12px 22px rgba(0, 0, 0, 0.4);
    background: #fff;
    animation: show 0.4s ease;
}

/* Details (optional) */
/* Aspect Ratio Number */
video:after {
    color: #aaa;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-weight: 100;
    content: "4:3";
    display: block;
}

/* Gray Diagonal */
video:before {
    height: 1px;
    background: #ddd;
    width: 100%;
    transform: rotate(-37deg);
    font-weight: 100;
    content: "4:3";
    display: block;
}

/* Animation */
@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.4) translateY(20px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/* Video Controls*/
.controls{
    margin: auto;
    margin-top: 15px;
    width: 95%;
    background-color: white;
    padding: 10px;
    text-align: center;
    background-color: #C2DFE3;
    border-radius: 20px;
    margin-left: 50px;
}
.controls button{
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
  }

  .controls .unmuted{
    padding: 20px 24px;
  }

  .controls .muted{
    padding: 20px;
  }

/* Chatbot */
#join_container{
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
#join_container label{
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}
#key{
    padding: 5px;
    border: 2px solid black;
    font-size: 16px;
}

#join_container button{
    background-color: dodgerblue;
    border: none;
    color: white;
    height: 35px;
    width: 40px;
}

#join_container i{
    font-size: 20px;
}

#chat {
    height: 75vh;
    margin-right: 20px;
}

.chatbox_top {
    height: 30px;
    padding: 1px;
    border-radius: 20px 20px 0 0;
    background-color: #C2DFE3;
}

.chatbox_top>p {
    font-size: large;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

#wrapper {
    height: calc(100% - 60px);
}

#chatbox {
    width: 100%;
    height: 100%;
    background-color: #E1EFF1;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#chatbox::-webkit-scrollbar {
    display: none;
  }

#chatbox p{
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 17px;
}


#chat_input_container {
    display: flex;
    flex-direction: row;
    height: 30px;
    background-color: #E1EFF1;
    margin-left: 15px;
    margin-right: 15px;
}

#chat input {
    flex-grow: 2;
    border: none;
    height: 40px;
    width: calc(100% - 58px);
    padding: 5px;
    font-size: 16px;
}

#chat input:focus {
    outline: none;
  }


.chatbox_bottom {
    height: 55px;
    padding: 1px;
    border-radius: 0 0 20px 20px;
    background-color: #E1EFF1;
}

#chat_send_btn {
    background-color: white;
    height: 40px;
    border: none;
}

#chat_send_btn i{
    font-size: 16px;
    padding-top: 2px;
}